p {
  margin: 0;
}
.list{
  padding: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
}
.movie__genres{
  display: flex;
  gap : 10px;
}
.main-page__container{
  padding-left: 32px;
  padding-right: 32px;
}
.movie__poster{
  display: block;
  border-radius: 5px;
}
.movie__title{
margin: 0;
font-family: 'Roboto';
font-family: sans-serif;
font-style: normal;
font-weight: 500;
font-size: 20px;
line-height: 24px;
color: rgba(0, 0, 0, 1);
}
.movie__information{
  font-weight: 500;
  margin-top: 12px;
}
.movie__genres{
  margin: 0;
  color:rgba(255, 107, 8, 1);
  font-family: 'Roboto';
  font-family: sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 20px;
   
  
}
.movie__year{
  display: inline-block;
  
}
.movie__genres-list{
  padding-right: 10px;
  display: block;
  border-right: solid 2px;
}
.modal{
  display: flex;
  width: 806px;
  height: 556px;
  gap: 10px;
}